.Navbar{
  width: calc(100% - 50px);
  height: 50px;
  top: 0px;
  left: 50px;
  position: absolute;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid white;
  color: white;


  .Navbar-container_links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0px 30px;
    .links{
      color: white;
      text-decoration: none;
      cursor: pointer;
      pointer-events: all;
    }
  }
}